<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
 
http://www.springframework.org/schema/tx
 
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
 
http://www.springframework.org/schema/context
 
http://www.springframework.org/schema/context/spring-context-3.0.xsd">
 
 <!-- Beans Declaration -->
 <bean id="Usuario" class="com.br.dev.model.Usuario"/>
 
 <!-- User Service Declaration -->
 
 <bean id="UsuarioService" class="com.br.dev.user.service.UsuarioService">
  <property name="usuarioDAO" ref="UsuarioDAO" />
 </bean>
 
 <bean id="EventoService" class="com.br.dev.user.service.EventoService">
  <property name="eventoDAO" ref="EventoDAO" />
 </bean>
 
 <bean id="EventoUsuarioService" class="com.br.dev.user.service.EventoUsuarioService">
  <property name="eventoUsuarioDAO" ref="EventoUsuarioDAO" />
 </bean>
 
 <bean id="UsuarioDAO" class="com.br.dev.user.dao.UsuarioDAO">
  <property name="sessionFactory" ref="SessionFactory" />
 </bean>
 
 <bean id="EventoDAO" class="com.br.dev.user.dao.EventoDAO">
  <property name="sessionFactory" ref="SessionFactory" />
 </bean>
 
 <bean id="EventoUsuarioDAO" class="com.br.dev.user.dao.EventoUsuarioDAO">
  <property name="sessionFactory" ref="SessionFactory" />
 </bean>
  
 
 <!-- Data Source Declaration -->
 <bean id="DataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
  <property name="driverClass" value="org.postgresql.Driver" />
  <property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/db_desafio" />
  <property name="user" value="postgres" />
  <property name="password" value="123456" />
  
 </bean>
 
 <!-- Session Factory Declaration -->
 <bean id="SessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
  <property name="dataSource" ref="DataSource" />
  <property name="annotatedClasses">
   <list>
    <value>com.br.dev.model.Usuario</value>
    <value>com.br.dev.model.Evento</value>
    <value>com.br.dev.model.EventoUsuario</value>
   </list>
  </property>
  <property name="hibernateProperties">
   <props>
    <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
    <prop key="hibernate.show_sql">true</prop>
   </props>
  </property>
 </bean>
 
 <!-- Enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="txManager"/>
 
 <!-- Transaction Manager is defined -->
    <bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
       <property name="sessionFactory" ref="SessionFactory"/>
    </bean>
    
    <bean id="persistenceExceptionTranslationPostProcessor" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
 
</beans>