.principal-form {
  width: 400px; 
  margin: auto;
  margin: 20px;
  padding: 20px;
  
}  

.menu-form {
  width: 400px; 
  margin: auto;
  margin: 20px;
  padding: 20px;
  text-align: center;

}  

.titulo-h3{
	margin: center; 
	margin: 20px; 
	padding: 20px; 
	text-align: center;
}

.titulo-tx{
	text-align: center;
	font-size: 20px;
}